.page-header {
    background-color: #04a8a8;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

.content {
    
}

h1, h2, h3, h4 {
    font-family: 'Lobster', cursive;
}

.date {
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
}

.post h2 a, .post h2 a:visited {
    color: #000000;
}

.navbar-brand a {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.usuarios#usuario {
    margin-top: 35px;
    margin-bottom: 35px;
    margin-left: 35px;
    margin-right: 35px;
    padding: 10px;
}

.usuarios-form textarea, .usuarios-form input {
    text-align: center;
}

.tareas {
    margin-bottom: 70px;
}

.tareas-form {
    
    width: 100%;
}

.tareas {
    margin-bottom: 70px;
}

.comment {
    margin: 20px 0px 20px 20px;
}

.paginacion div {
    margin-top: 70px;
    text-align: center;

}

.content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
  }