{% load static %}
<head>
        <title>QuienPodrayudarme</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">

        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        
</head>
<body>
    <div class="page-header">
        <h1><a href="/">QuienPodrayudarme</a></h1>
        <ul>
            <li><a href="/categorias">categorias</a></li>
            <li><a href="/registrar">registrar</a></li>
            <li><a href="/login">login</a></li>
            <li><a href="/logout">logout</a></li>
            <li><a href="/maestros/">maestros</a></li>
            <li><a href="/solicitudes/">Solicitudes</a></li>
            <li><a href="/solicitud/nueva">Solicitud nueva</a></li>

            
        </ul>
    </div>
    <div class="content container">
        <div class="row">
            <div class="col-md-4">
                {% block content %}
                
                {% endblock %}
            </div>
        </div>
    </div>
</body>