{% extends 'base.html' %}


{% block content %}
<div class="col-md-12">
    
    <div>        
        <p>*Recuerda Completar tu perfil de Usuario antes de utilizar el sistema</p>
        
    </div>

    <div>
        <a href="/usuario/nueva">
        <button type="button" class="btn btn-primary btn-lg btn-block">Completar Perfil Usuario</button>
        </a>

    </div>
    <div align="center">
        <a href="/solicitud/nueva" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Crear Solicitud Rapida</a>

        <a href="/maestro/nueva" class="btn btn-second btn-lg active" role="button" aria-pressed="true">Agregar Perfil Maestro</a>


        <div>
            <button type="button" class="btn btn-secondary btn-lg"><a href="/mis-solicitudes/">Mis Tareas Solicitadas</a></button>
            <button type="button" class="btn btn-secondary btn-lg"><a href="/mis-maestros/">Mis Perfiles Maestro</a></button>
            <button type="button" class="btn btn-secondary btn-lg"><a href="/mis-usuarios/">Mi Perfil de usuario</a></button>
            
        </div>
        <div>
            <a href="/agregar_sugerencia/">
            <button type="button" class="btn btn-primary btn-lg btn-block">Hacer Sugerencia</button>
            </a>
    
        </div>
        
    </div>
    

    



    {{ request.user.id }} 
    {{ user.username }}
    {{ request.user }}
    {{ user.get_full_name }}
    {{ user.email }}


    <a href="{% url 'logout' %}">Cerrar sesion</a>
</div>
{% endblock %}

