{% extends 'base.html' %}

{% block content %}
    
    
    <h1>Solicitudes del maestro</h1>
    {% for solicitud in solicitudes %} 
        <div class="col-6 col-md-4">
            <div class="solicitud" style="border:3px solid #EDFEFF">
                <!--
                <p>perfil_maestro: {{ solicitud.perfil_maestro }} </p>

                -->
                <h2>Nombre del trabajo: {{ solicitud.nombre }} </h2>
                <p>Tarea que se tienen que realizar: {{ solicitud.tarea }} </p>
                <p>Descripcion: {{ solicitud.descripcion }} </p>
                <p>Direccion: {{ solicitud.direccion }} </p>
                <p>Comuna: {{ solicitud.comuna }} </p>
                <p>Estado: {{ solicitud.estado }} </p>
                <p>Fecha para la tarea: {{ solicitud.fecha }} </p>
                <p>Agendada dia: {{ solicitud.created_date }} </p>

                
            </div>
        </div>
    {% endfor %}


{% endblock %}
