{% extends 'base.html' %}

{% block content %}
    <div class="col-md-3 col-md-4">
        
        <div class="usuarios">
            {% if user.is_authenticated %}
            <!--
            -->
            {% endif %}      
             
            <h1>Nombre: {{ maestro.usuario.nombre }}  {{ maestro.usuario.apellidos }}</h1>
            <h3>Rut: {{ maestro.usuario.rut }}</h3>
            <p>fecha_nacimiento: {{ maestro.usuario.fecha_nacimiento }} </p>
            <p>direccion: {{ maestro.usuario.direccion }} </p>
            <p>genero: {{ maestro.usuario.genero }} </p>
            <p>verificacion: {{ maestro.usuario.verificacion }} </p>
            <p>created_date: {{ maestro.usuario.created_date }} </p>
            <p>celular: {{ maestro.usuario.celular }} </p>

            <h3>Tareas que puede realizar</h3>
            
            {% for col in maestro.tareas.all %}

                <td>{{ col.nombre }}</td>

            {% endfor %}

            {% if user.is_authenticated %}
        <!--                post.comments.all       maestro
        -->
            <hr>            
            {% for comentario in maestro.comentariosmaestro.all %}
                <div class="comment">
                    <div class="date">Fecha: {{ comentario.created_date }}</div>
                    <strong>Apodo: {{ comentario.author }}</strong>
                    <p>Comentario: {{ comentario.text|linebreaks }}</p>
                </div>
            {% empty %}
                <p>No existen Comentarios aqui aun </p>
            {% endfor %}                                
            <!--
                Cuidado con el solicitud_tarea de abajo
            -->
            <a class="btn btn-default" href="{% url 'agregar_comentario_maestro' pk=maestro.pk %}">Agregar Comentario</a>
        {% endif %}

        </div>
    </div>
{% endblock %}