{% extends 'base.html' %}


{% block content %}

    {% for maestro in maestros %} 
    <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="maestro">

            
            <h3> <a href="{% url 'maestro_solicitudes' pk=maestro.pk %}">Nombre: {{ maestro.usuario.nombre|linebreaksbr }} {{ maestro.usuario.apellidos|linebreaksbr }}</a></h3>
            <!--
                Arriba para conectar a las solicitudes filtradas de los maestros
                Abajo para enctrar a el detalle de los maestros
            -->
            <p><a href="{% url 'maestro_detalle' pk=maestro.pk %}">Rut: {{ maestro.usuario.rut|linebreaksbr }}</a></p>
            <p>Celular: {{ maestro.usuario.celular }}</p>
            <p>Fecha nacimiento: {{ maestro.usuario.fecha_nacimiento|linebreaksbr }}</p>
            <p>Genero: {{ maestro.usuario.genero|linebreaksbr }}</p>
            <p>Fecha de integracion: {{ maestro.usuario.created_date }}</p>

            

            <h3>Tareas que puede realizar</h3>
            
            {% for col in maestro.tareas.all %}

                <td>{{ col.nombre }}</td>

            {% endfor %}

            <hr>
            <a href="{% url 'maestro_detalle' pk=maestro.pk %}">Comentarios: {{ maestro.comentariosmaestro.count }}</a>

            

            
        </div>
    </div>
    {% endfor %}


{% endblock %}