{% extends 'base.html' %}


{% block content %}

    {% for maestro in maestros %} 
    <div class="col-md-3 col-md-4">
        <div class="maestro">

            
            <h3> <a href="{% url 'maestro_solicitudes' pk=maestro.pk %}">Nombre: {{ maestro.usuario.nombre|linebreaksbr }} {{ maestro.usuario.apellidos|linebreaksbr }}</a></h3>
            <p>Rut: {{ maestro.usuario.rut|linebreaksbr }}</p>
            <p>Fecha nacimiento: {{ maestro.usuario.fecha_nacimiento|linebreaksbr }}</p>
            <p>Genero: {{ maestro.usuario.genero|linebreaksbr }}</p>
            <p>Fecha de integracion: {{ maestro.usuario.created_date }}</p>

            {% for col in maestro.usuario.all %}

                <td>{{ col }}</td>

            {% endfor %}

            <h3>Tareas que puede realizar</h3>
            
            {% for col in maestro.tareas.all %}

                <td>{{ col.nombre }}</td>

            {% endfor %}

            
        </div>
    </div>
    {% endfor %}


{% endblock %}