{% extends 'base.html' %}

{% block content %}
    <div class="col-md-12">
        
        <div class="usuarios">
            {% if user.is_authenticated %}
            <!--
            -->
            <a href="{% url 'agregar_solicitud_nueva' pk=maestro.pk %}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Crear Solicitud de Tarea</a>

            {% endif %}      
            
            <div class="col-md-6">
                <h1>Nombre: {{ maestro.usuario.nombre }}  {{ maestro.usuario.apellidos }}</h1>
            <h3>Rut: {{ maestro.usuario.rut }}</h3>
            <p>Fecha de nacimiento: {{ maestro.usuario.fecha_nacimiento }} </p>
            <!--
                <p>Direccion: {{ maestro.usuario.direccion }} </p>

            -->
            <p>Comuna: {{ maestro.usuario.comuna }} </p>
            <p>Genero: {{ maestro.usuario.genero }} </p>
            <p>Verificacion: {{ maestro.usuario.verificacion }} </p>
            <p>Fecha de integracion: {{ maestro.usuario.created_date }} </p>
            <p>Celular: {{ maestro.usuario.celular }} </p>

            <h3>Tareas que puede realizar</h3>
            
            {% for col in maestro.tareas.all %}

                <td>{{ col.nombre }}</td>

            {% endfor %}

            </div>

            <div class="col-md-6">
                {% if user.is_authenticated %}
        <!--                post.comments.all       maestro
        -->
            <hr>            
            {% for comentario in maestro.comentariosmaestro.all %}
                <div class="comment">
                    <div class="date">Fecha: {{ comentario.created_date }}</div>
                    <strong>Apodo: {{ comentario.author }}</strong>
                    <p>Comentario: {{ comentario.text|linebreaks }}</p>
                </div>
            {% empty %}
                <p>No existen Comentarios aqui aun </p>
            {% endfor %}                                
            <!--
                Cuidado con el solicitud_tarea de abajo
            -->
            <a class="btn btn-default" href="{% url 'agregar_comentario_maestro' pk=maestro.pk %}">Agregar Comentario</a>
            {% endif %}

            </div>

        </div>
    </div>
{% endblock %}