{% extends 'base.html' %}


{% block content %}
<div >
    {% for solicitud in solicitudes %}
    <div class="col-xs-12 col-sm-6 col-md-4 col-xl-3" style='background-color: #EDFEFF' align="">

        <div class="usuarios row align-items-center">
            
           
           

            <h1>Nombre de usuario:  {{ solicitud.author }}</h1>
            <h2> perfil_maestro {{ solicitud.perfil_maestro }}</h2>
            <!--
                Esta funcionando esta linea 
                solicitud_detalle es la funcion que fue producida en al View

            -->
            <h3> <a href="{% url 'solicitud_detalle' pk=solicitud.pk %}"> Nombre: {{ solicitud.nombre }}</a></h3>

            <p> Tarea: {{ solicitud.tarea }} </p>
            <p> Descripcion: {{ solicitud.descripcion }} </p>
            <p> Direccion: {{ solicitud.direccion }} </p>
            <p> Estado: {{ solicitud.estado }} </p>
            <p> Fecha de creacion: {{ solicitud.created_date }} </p>
            <p><b> Fecha solicitada: {{ solicitud.fecha }} </p>

            <a href="{% url 'solicitud_detalle' pk=solicitud.pk %}">Comentarios: {{ solicitud.comentariossolicitud.count }}</a>


        </div>

    </div>
    {% endfor %}
</div>
{% endblock %}