{% extends 'base.html' %}

{% block content %}
    <div class="post">
        
        <div class="col-md-6">
            <p><b> Calificacion: {{ solicitud_tarea.calificacion }} </b></p>
            <h2>Nombre: {{ solicitud_tarea.nombre }}</h2>
            <p>Tarea: {{ solicitud_tarea.tarea }}</p>
            <p>Descripcion de tarea: {{ solicitud_tarea.descripcion }}</p>
            <p>Direccion de solicitud:{{ solicitud_tarea.direccion }}</p>
            <p>Comuna:{{ solicitud_tarea.comuna }}</p>
            <p>Estado de la tarea: {{ solicitud_tarea.estado }}</p>
            <p><b>Fecha solicitada: {{ solicitud_tarea.fecha |date:"M d, Y" }}</p>

                 
        </div>


        <div class="col-md-6">
            <h1>Perfil de maestro</h1>
            <h2>Apodo maestro: {{ solicitud_tarea.perfil_maestro.usuario.user }} </h2>
            <p>Nombre: {{ solicitud_tarea.perfil_maestro.usuario.nombre }} {{ solicitud_tarea.perfil_maestro.usuario.apellidos }}</p>
            <p>Rut: {{ solicitud_tarea.perfil_maestro.usuario.rut }}</p>
            <p>Celular: {{ solicitud_tarea.perfil_maestro.usuario.celular }}</p>
            <p>Direccion: {{ solicitud_tarea.perfil_maestro.usuario.direccion }}</p>
            <p>Comuna: {{ solicitud_tarea.perfil_maestro.usuario.comuna }}</p>
            <p>Genero: {{ solicitud_tarea.perfil_maestro.usuario.genero }}</p>
            <h3>Tareas Maestro: </h3>
            {% for tarea in solicitud_tarea.perfil_maestro.tareas.all %}
                <td>{{ tarea.nombre }} </td>
            {% endfor %}
        </div>

        <div class="col-md-6">
            {% if user.is_authenticated %}
            <!--                post.comments.all
            -->
                <hr>            
                {% for comentario in solicitud_tarea.comentariossolicitud.all %}
                    <div class="comment">
                        <div class="date">Fecha: {{ comentario.created_date }}</div>
                        <strong>Apodo: {{ comentario.author }}</strong>
                        <p>Comentario: {{ comentario.text|linebreaks }}</p>
                    </div>
                {% empty %}
                    <p>No existen Comentarios aqui aun </p>
                {% endfor %}                                
                <!--
                    Cuidado con el solicitud_tarea de abajo
                -->
                <a class="btn btn-default" href="{% url 'agregar_comentario_solicitud' pk=solicitud_tarea.pk %}">Agregar Comentario</a>

            {% endif %}
                     
        </div>

    </div>
{% endblock %}