{% extends 'base.html' %}

{% block content %}
    <div class="col-md-3 col-md-4">
        
        <div class="usuarios">
            {% if user.is_authenticated %}
            <!--
            -->
            {% endif %}        
            <h1>Nombre: {{ usuario.nombre }}  {{ usuario.apellidos }}</h1>
            <h3>Rut: {{ usuario.rut }}</h3>
            <p>Celular {{ usuario.celular }} </p>
            <p>Fecha de nacimiento: {{ usuario.fecha_nacimiento }} </p>
            <p>Direccion: {{ usuario.direccion }} </p>
            <p>Genero: {{ usuario.genero }} </p>
            <p>Verificacion: {{ usuario.verificacion }} </p>
            <p>Fecha de creacion: {{ usuario.created_date }} </p>
        

        </div>
    </div>
{% endblock %}